<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QuanLyCuaHangTienLoi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="QuanLyCuaHangTienLoiEntities" connectionString="metadata=res://*/QuanLyCuaHangTienLoiModel.csdl|res://*/QuanLyCuaHangTienLoiModel.ssdl|res://*/QuanLyCuaHangTienLoiModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=QuanLyCuaHangTienLoi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/QLCHTL.csdl|res://*/QLCHTL.ssdl|res://*/QLCHTL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=QuanLyCuaHangTienLoi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyCuaHangTienLoiEntities1" connectionString="metadata=res://*/QTCHTL2.csdl|res://*/QTCHTL2.ssdl|res://*/QTCHTL2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=QuanLyCuaHangTienLoi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyCuaHangTienLoiEntities2" connectionString="metadata=res://*/QLCHTL.csdl|res://*/QLCHTL.ssdl|res://*/QLCHTL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=QuanLyCuaHangTienLoi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyCuaHangTienLoiEntities3" connectionString="metadata=res://*/QLCHTL.csdl|res://*/QLCHTL.ssdl|res://*/QLCHTL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=QuanLyCuaHangTienLoi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyCuaHangTienLoiEntities4" connectionString="metadata=res://*/QLCHTL.csdl|res://*/QLCHTL.ssdl|res://*/QLCHTL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=QuanLyCuaHangTienLoi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <QuanLyCuaHangTienLoi.Properties.Settings>
      <setting name="cnnStr" serializeAs="String">
        <value>Data Source=(localdb)\mssqllocaldb;Initial Catalog=QuanLyCuaHangTienLoi;Integrated Security=True</value>
      </setting>
    </QuanLyCuaHangTienLoi.Properties.Settings>
  </applicationSettings>
</configuration>