<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="emailService" class="example2.EmailService"/>

    <bean id="myApp" class="example2.MyApplication">
        <property name="service" ref="emailService"/>
    </bean>

</beans>
