<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Network Permissions -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Storage Permissions -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/cookiedu_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cookiedu_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineCoursesApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.LessonDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CourseDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CourseIntroActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChangeNameActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CheckOutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ReviewCourseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyCourseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>