<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://monorail.proxy.rlwy.net:43698/railway?useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF-8</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">bhDcDbA5aEH13cBAGfFd4efcBD--H-Gh</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.connection.CharSet">utf8</property>
		<property name="hibernate.connection.characterEncoding">utf8</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping class="model.User" />
		<mapping class="model.Brand" />
		<mapping class="model.Product" />
		<mapping class="model.Order" />
		<mapping class="model.OrderDetail" />
	</session-factory>
</hibernate-configuration>